* {
    margin: 0;
    font-family: sans-serif;
    color: #fff;
    /* background-color: #171f35; */
    background-color: #0f1131;
    /* background-color: #380505; */
}
body {
    margin: 1% 20% 1% 20%;
}

#about-github {
    color: #4078c0;
    text-underline-offset: 20%;
    transition: 0.3s;
}
#about-linkedin {
    color: #0077b5;
    text-underline-offset: 20%;
    transition: 0.3s;
}
#about-github:hover, #about-linkedin:hover {
    text-underline-offset: 40%;
}

.project-container {
    margin-top: 5%;
    margin-bottom: 5%;
}
.project-div {
    text-align: left;
}
@media screen and (min-width: 750px) {
    .project-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .project-div {
        text-align: center;
    }
}

.info-project-container {
    align-items: center;
}

.color-html {
    color: #e34c26;
}
.color-css {
    color: #2965f1;
}
.color-js {
    color: #f0db4f;
}
.color-react {
    color: #61dbfb;
}
.color-redux {
    color: #764abc;
}

.project-link {
    display: block;
    color: #777;
    cursor: pointer;
}
.project-link:hover {
    color: #fff;
}

.website-img {
    width: 60%;
}

.contact-btn {
    font-size: medium;
    color: #777;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.contact-btn:hover {
    color: #fff;
}