* {
    margin: 0;
    font-family: sans-serif;
    color: #fff;
    background-color: #222;
}
body {
    margin: 1% 20% 1% 20%;
}

#about-github {
    color: #4078c0;
    text-underline-offset: 20%;
    transition: 0.3s;
}
#about-linkedin {
    color: #0077b5;
    text-underline-offset: 20%;
    transition: 0.3s;
}
#about-github:hover, #about-linkedin:hover {
    text-underline-offset: 40%;
}

.project-container {
    /* display: grid; */
}
.project-div {
    display: flex;
}

.color-html {
    color: #e34c26;
}
.color-css {
    color: #2965f1;
}
.color-js {
    color: #f0db4f;
}
.color-react {
    color: #61dbfb;
}
.color-redux {
    color: #764abc;
}

.project-link {
    color: #777;
    border-bottom: 2px solid #777;
    cursor: pointer;
    /* transition: 0.4s; */
}
.project-link:hover {
    /* color: #fff; */
    color: #fff;
    border-bottom: 2px solid #fff;
}

.website-img {
    width: 80%;
}

.contact-btn {
    font-size: medium;
    color: #777;
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* transition: 0.4s; */
}
.contact-btn:hover {
    /* color: #999; */
    color: #fff;
}