html, body {
    height: 100%;
    margin: 0;
    margin-top: -11px;
    padding: 0;
    background-color: #2c4c3b;
    scroll-behavior: smooth;
    scroll-padding-top: 130px;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    height: 85px;
    width: 100%;
    background-color: #02260B;
    margin-top: -20px;
    border-bottom: solid;
    border-color: black;
    justify-content: space-between;
}

/* #pixel-name {
    background-color: #02260B;
    padding-top: 20px;
    height: 40px;
    width: auto;
} */

.name-index {
    color: #90EE90;
    font-family: Montserrat;
    padding-top: 10px;
    padding-left: 45px;
    margin-bottom: -10px;
}

.menu-format {
    width: 250px;
    padding-top: 39px;
    padding-right: 125px;
    display:flex;
    justify-content: center;
    justify-content: space-around;
}

.button-style {
    font-family: Montserrat;
    background-color: #02260B;
    color: white;
    font-weight: bold;
    font-size: medium;
    border: none;
    min-width: 100px;
    min-height: 25px;
    border-radius: 10px;
}

#about-menu {
    font-family: Montserrat;
    background-color: #02260B;
    color: #90EE90;
    font-weight: bold;
    font-size: medium;
    border: none;
    min-width: 100px;
    min-height: 25px;
    border-radius: 10px;
}

.button-style:hover,
#about-menu:hover {
    background-color: #02260B;
    transition: 0.7s;
    min-width: 150px;
    min-height: 25px;
    border-radius: 10px;
}

.about-box {
    height: 375px;
    width: 1000px;
    /* this helps make phone accessible */
    max-width: 80%;
    min-width: 600px;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2c4c3b;
    font-family: Montserrat;
    color: #90EE90;
}

#about-title {
    text-align: center;
    font-size: xx-large;
}

#hello-about {
    color: #90EE90;
    font-size: x-large;
}

#goal-about {
    color: #90EE90;
}

.about-text {
    margin-top: 25px;
    font-size: large;
    text-align: center;
    color: white;
}

.list {
    margin-left: 10%;
    color: white;
}

.projects-box {
    height: 400px;
    width: 1000px;
    max-width: 80%;
    min-width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2c4c3b;
    font-family: Montserrat;
    color: #90EE90;
    /* border-radius: 10px; */
    /* border: solid; */
    /* border-color: black; */
}

#projects-title {
    text-align: center;
    padding-top: 35px;
    font-size: xx-large;
}

#button-container {
    display: flex;
    justify-content: center;
}

.projects-button {
    justify-content: center;
    margin: 20px;
    background-color: #2c4c3b;
    border: none;
    width: 250px;
    min-width: 200px;
    min-height: 25px;
    border-radius: 10px;
    font-size: medium;
    color: white;
}

 .img {
    height: 220px;
    border-radius: 10px;
}

.img:hover {
    background-color: #90EE90;
    transition: 0.7s;
    min-width: 200px;
    min-height: 25px;
    border-radius: 10px;
}

.button-portfolio {
    margin-top: 20px;
    margin-left: 310px;
    margin-right: 100px;
    background-color: #02260B;
    border: none;
    min-width: 200px;
    min-height: 25px;
    border-radius: 10px;
}

.experience-box {
    height: 350px;
    width: 1000px;
    max-width: 80%;
    min-width: 600px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2c4c3b;
    font-family: Montserrat;
    color: #90EE90;
}

#experience-title {
    text-align: center;
    font-size: xx-large;
}

.experience-job {
    color: #90EE90;
}

.experience-text {
    margin-top: 35px;
    margin-left: 5%;
    font-size: large;
    color: white;
}

.contact-form {
    height: 600px;
    width: 1000px;
    max-width: 80%;
    min-width: 600px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: #2c4c3b;
    font-family: Montserrat;
    color: #90EE90;
}

#form-title {
    text-align: center;
    margin-bottom: 35px;
    font-size: xx-large;
}

.form-text {
    margin-left: 5%;
    font-size: medium;
}

.form-input {
    border-color: black;
}

::placeholder {
    color: white;
}

#form-name {
    margin-left: 5%;
    margin-bottom: 40px;
    height: 35px;
    width: 15%;
    background-color: #02260B;
    border-radius: 10px;
    border-color: black;
    font-size: medium;
    color: #90EE90;
}

#form-email {
    margin-left: 5%;
    margin-bottom: 40px;
    height: 35px;
    width: 40%;
    background-color: #02260B;
    border-radius: 10px;
    border-color: black;
    font-size: medium;
    color: #90EE90;
}

#form-subject {
    margin-left: 5%;
    margin-bottom: 40px;
    height: 35px;
    width: 60%;
    background-color: #02260B;
    border-radius: 10px;
    border-color: black;
    font-size: medium;
    color: #90EE90;
}

#form-message {
    margin-left: 5%;
    height: 100px;
    width: 80%;
    background-color: #02260B;
    border-radius: 10px;
    border-color: black;
    font-size: large;
    color: #90EE90;
}

#form-button-container {
    display: flex;
    justify-content: center;
}

#form-button {
    font-family: Montserrat;
    font-size: medium;
    margin-top: 35px;
    background-color: #02260B;
    color: white;
    font-weight: bold;
    border: none;
    width: 200px;
    height: 60px;
    min-width: 100px;
    min-height: 25px;
    border-radius: 10px;
}

#form-button:hover {
    background-color: #90EE90;
    color: #02260B;
    transition: 1.0s;
}

.footer {
    height: 65px;
    margin-top: -9px;
    bottom: 0;
    width: 100%;
    background-color: #02260B;
    display: flex;
    justify-content: space-around;

}

.footer-format {
    margin-top: 20px;
    color: #90EE90;
    font-size: medium;
}

/* .link-style {
    font-family: Montserrat;
    margin: 20px;
    font-size: 15px;
    color: #90EE90;
    border: none;
    min-width: 80px;
    min-height: 25px;
    border-radius: 10px;
}

.link-style:hover {
    color: #2c4c3b;
    transition: 0.7s;
} */

