html, body {
    margin: 0;
    margin-top: -11px;
    padding: 0;
}

.whole-page {
    background-color: #2c4c3b;
    height: 1500px;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #02260B;
    margin-top: -20px;
    border-bottom: solid;
    border-color: black;
}

.name-index {
    color: #90EE90;
    font-family: Montserrat;
    padding-top: 10px;
    padding-left: 45px;
    margin-bottom: -10px;
}

/* Menu buttons */
.menu-options {
    padding-top: 39px;
    padding-left: 835px;
}

.menu-format {
    width: 250px;
    display:flex;
    justify-content: center;
    justify-content: space-around;
}

.button-style {
    font-family: Montserrat;
    background-color: #02260B;
    color: #90EE90;
    font-weight: bold;
    border: none;
    min-width: 100px;
    min-height: 25px;
    border-radius: 10px;
}

.button-style:hover {
    background-color: #02260B;
    transition: 0.7s;
    min-width: 150px;
    min-height: 25px;
    border-radius: 10px;
}

.about-index {
    height: 175px;
    background-color: #2c4c3b;
}

.about-box {
    height: 375px;
    width: 850px;
    background-color: #02260B;
    font-family: Montserrat;
    color: #90EE90;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    border-color: black;
}

.index-title {
    margin-left: 383px;
}

.about-text {
    margin-top: 35px;
    margin-left: 40px;
    font-size: large;
}

.about-list {
    margin-left: 100px;
}

.projects-index {
    height: 100px;
    background-color: #2c4c3b;
}

.projects-box {
    height: 375px;
    width: 850px;
    margin-left: 499px;
    background-color: #02260B;
    font-family: Montserrat;
    color: #90EE90;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
    border-color: black;
}

.projects-image {
    display: flex;
}

